* {
    box-sizing: border-box; /* width and height apply to all parts of the element: content, padding and borders:*/
    padding: 0; /* padding top; padding: space around an element's content, inside of any defined borders. */
    margin: 0; /* margin top; margin: space around elements, outside of any defined borders. */
}
/*
--------
margin
    -------
    border
        -------
        padding
            -------
            content
            */
body {
    font-family: sans-serif;
    font-size: 16px;
}
/* nav tag */
nav {
    background: #222;
    padding: 0 15px;
}
/* a tag */
a {
    color: white;
    text-decoration: none;
}

/* menu and submenu */
.menu,
.submenu {   
    list-style-type: none;
}
/* logo */
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap; /* ao diminuir tela quebrar para outra linha */
    justify-content: space-between;
        /*  justify content -  used to align (horizontal) the flex items
        center:         |      ***     |
        flex-start:     |***           |
        flex-end:       |           ***|
        flex-around:    |*      *     *|
        flex-between:   |   *   *   *  |
        */
    align-items: center; 
        /*  align items -  used to align (vertical) the flex items */
}

.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #111;
    border-radius: 3px;
}